.button {
  &--primary {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25rem;
    height: 6rem;
    background-color: $color-red;
    border-radius: 1rem;
    box-shadow: 0px 3.75rem 3.5rem -1.25rem rgba($color-red, 0.35);

    font-weight: 700;
    color: $color-white;
  }

  &--secondary,
  &--tertiary {
    font-weight: 500;
  }

  &--secondary {
    padding: 1.3rem 4.5rem;
    color: $color-red-light;
    border: 1px solid $color-red-light;
    border-radius: 5rem;
  }
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 6rem;
  height: 6rem;
  border-radius: 50%;

  &--primary {
    background-color: $color-red;
  }

  &--secondary {
    border: 2px solid $color-red;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: $color-black;

  & > img {
    margin-right: 1rem;
  }

  &__text {
    font-size: 2rem;
    font-weight: 500;
  }
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.36rem;
  height: 3.36rem;
  box-shadow: 0px 1.3rem 1.8rem rgba(17, 19, 35, 0.08);
  background-color: $color-white;
  border-radius: 50%;

  & > svg {
    fill: $color-red;
  }
}
