.footer {
  position: relative;
  background-color: $color-gray-light-2;
  padding: 18rem 0 10rem 0;

  &__content {
    display: flex;

    max-width: $max-width;
    margin: 0 auto;

    & .logo {
      margin-bottom: 2rem;
    }

    & p {
      max-width: 34rem;
      margin-bottom: 3rem;
    }
  }

  &__social-media {
    display: flex;
    margin-bottom: 3rem;

    *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__copyright {
    color: $color-gray-light-6;
  }

  &__links-container {
    display: flex;
    margin-left: auto;

    & > *:not(:last-child) {
      margin-right: 12.6rem;
    }
  }

  &__links-group {
    & > h3 {
      margin-bottom: 2rem;
    }

    & li {
      font-size: 1.6rem;
    }

    & li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__mailing-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    width: $max-width;
    background-color: $color-white;
    padding: 5.9rem 7rem;
    border-radius: 1rem;
    box-shadow: 0 4rem 10rem 0rem rgba(11, 19, 42, 0.06);

    & > div:first-child {
    }

    & h2 {
      max-width: 37.1rem;
      line-height: 4.5rem;
      margin-bottom: 2rem;
    }
  }
}
