$color-red-very-light: #ffecec;
$color-red-light: #f53855;
$color-red: #f53838;
$color-black: #0b132a;
$color-gray-dark: #4f5665;
$color-gray-light-6: #afb5c0;
$color-gray-light-5: #dddddd;
$color-gray-light-4: #dde0e4;
$color-gray-light-3: #eeeff2;
$color-gray-light-2: #f8f8f8;
$color-gray-light-1: #f6f6f6;
$color-white: #fff;

$font-primary: 'Rubik', sans-serif;

$max-width: 114rem;

$shadow-lg: 0 4.5rem 5rem -2.5rem rgba($color-black, 0.06);
